body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #90BABF;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .continue-shopping-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }

  .continue-shopping-button:hover {
  text-decoration: underline;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  
  }
  
  .center-section {
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .cart-items {
    flex: 2;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .item-details h2 {
    margin: 0;
  }
  
  .cart-summary {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .cart-summary h2 {
    margin-top: 0;
  }
  
  .checkout-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
    text-decoration: none;
  } 
  .checkout-button:hover { 
    text-decoration: underline; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);

  }

  /* Customer Info*/ 

  
  .customer-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    margin-right: 200px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  